<div class="col-xs-12 col-md-6 col-md-offset-3">
	<div id="user-form" class="info">
		<h2>用户信息
			<div style="float:right; color: #398439;"><span class="glyphicon glyphicon-user"></span> <%= name %></div>
		</h2>

		<div class="form-group">
			<label for="inputPassword">密码</label>
			<input type="password" id="inputPassword" name="password" class="form-control" placeholder="请输入密码" style="font-family: Consolas">
		</div>

		<div class="form-group">
			<label for="inputNickName">昵称</label>
			<input type="" id="inputNickName" name="nick_name" class="form-control" placeholder="" value="<%= nick_name %>">
		</div>

		<div class="form-group">
			<label>性别</label>
			男：<input type="radio" name="gender" <% gender==1? print("checked") : print() %> value=1/> 
			女：<input type="radio" name="gender" <% gender==0? print("checked") : print() %> value=0/>
		</div>

		<div class="form-group">
			<label for="inputAge">年龄</label>
			<input type="" id="inputAge" name="age" class="form-control" placeholder="" style="font-family: Consolas" value="<%= age %>">
		</div>

		<div class="form-group">
			<label for="inputCell">手机</label>
			<input type="" id="inputCell" name="cell" class="form-control" placeholder="" value="<%= cell %>">
		</div>


		<div class="form-group">
			<label for="inputWeixin">微信</label>
			<input type="" id="inputWeixin" name="weixin" class="form-control" placeholder="" value="<%= weixin %>">
		</div>

		<br />
		<button class="btn btn-success btn-block save" type="submit">保存</button>
	</div>
</div>